body{
    margin: 0;
    padding: 0;

}
#headerh1{
    text-align: center;
    color: green;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
  
}
.parent{
    display: flex;
}
.half-portion{
    width: 50%;
   
}
.half-portion img{
    width: 400px; 
}
.right-side{
    padding-top: 5px;
   
}
.left-side{
    padding-top: 90px;
    padding-left: 60px;
}
p{
    font-size: 20px;
    text-align: justify;
}
h3{
    font-size: 40px;
    color: green
}
a{
    text-decoration: none;
    background-image: linear-gradient(yellow, green);
   
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
    
}
a:hover{
    background-image: linear-gradient(45deg, red, green, red);
    cursor: pointer;
    
}
#bodyh1{
    text-align: center;
    font-size: 40px;
    
}
/* card */
.parent-body{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.dhaka{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 4px 4px 50px gray;
    border-radius: 5px;
    padding: 20px;
}
.chittagong{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 4px 4px 50px gray;
    border-radius: 5px;
    padding: 20px;
   
}
.khulna{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 4px 4px 50px gray;
    border-radius: 5px;
    padding: 20px;
   
    
}
/* gias r oikane clo 
img{
    width: 100%;
} */

.another{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
}
.sylhet{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 4px 4px 50px gray;
    border-radius: 5px;
    padding: 20px;
    
}
.rajshahi{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 4px 4px 50px gray;
    border-radius: 5px;
    padding: 20px;
}
.barishal{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 4px 4px 50px gray;
    border-radius: 5px;
    padding: 20px;
}

.final{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
}

.rangpur{
    width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow:  4px 4px 50px gray ;
    padding: 20px;
}
.mymensingh{
    width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow:  4px 4px 50px gray ;
    padding: 20px;
}

footer{
    background-color: greenyellow;
    padding: 15px;
    
}

.footer-section p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    
   
}